{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {}
      }
    ],
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-regenerator"
  ],
  "presets": [["env", { "loose": true, "modules": "commonjs" }]]
}
